<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<div id = "container">
	 <fieldset> 
		
		<form action="/result" method="post">
		  Your Name:
		  <input type="text" value="">
		  <br>
		  Dojo Location:
		  <select name="Dojo_locations">
			  <option value="mountain_view">Mountain View</option>
			  <option value="Burbank">Burbank</option>
			  <option value="Seattle">Seattle</option>
		  </select>
		  <br>
		  Favorite Languate:
		  <select name="favorite_language">
			  <option value="PHP">PHP</option>
			  <option value="Ruby">Ruby</option>
			  <option value="Angular">Angular</option>
		  </select>
		  <br>
		  Comment(optional):
		  <textarea name="message" rows="10" cols="30"></textarea>
		  <br>
		  <input type="submit" value="Submit">
		</form> 

	 </fieldset>



	</div>
	
</body>
</html>